@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}

/*.container {*/
/*    width: 1170px;*/
/*    margin: 0 auto;*/
/*}*/

.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(5px);
    z-index: 90;
    animation: .5s ani alternate ease-in-out;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(238, 238, 238, 0);
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    display: flex;

    justify-content: space-between;
    outline: none;
    transition: 0.4s;
}

/* Style the buttons that are used to open and close the accordion panel */


.arrow {
    transition: 0.3s;
    transform: rotate(90deg);
}

@keyframes ani {
    0% {
        transform: translateX(2000px);
    }
    100% {

    }
}

.menu-block {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: .8s ani2 alternate ease-in-out;
}

@media (max-width: 350px) {
    .menu-block {
        width: 100%;
    }
}

.arrowClose {
    transition: 0.3s;
    transform: rotate(0deg);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
    /*background-color: #ccc;*/
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    height: 100%;
    display: block;
    overflow: hidden;
    transition: 2s;
    position: relative;
    animation: anti;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

@keyframes anti {
    0% {
        height: 0;
    }
    100% {
        height: 1200px;
    }
}


@keyframes ani2 {
    0% {
        transform: translateY(-1000px);
    }
    100% {

    }
}

.panelClose {
    padding: 0 18px;
    background-color: white;
    height: 100%;
    display: none;
    overflow: hidden;
    transition: 2s;
    position: relative;
    animation: antiClose;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

@keyframes antiClose {
    0% {
        height: 1200px;
    }
    100% {
        height: 0;
        display: none;
    }
}



@media (max-width: 415px) {
    .title{
        margin-top: 100px;
    }
}

